<head>
  <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
</head>
<div class="about-section">
  <h1>About Us</h1>
  <p>Marvel Insurance was incorporated as a Company on 18th February 1938. General Insurance Business in India was nationalized in 1972. 12 Indian Insurance Companies, 4 Cooperative Insurance Societies and Indian operations of 5 Foreign Insurers, besides General Insurance operations of southern region of Life Insurance Corporation of India were merged with Marvel Insurance. After Nationalization United India has grown by leaps and bounds and has over 10000 work force spread across 1896 offices providing insurance cover to 1.74 Crore policy holders. The Company has variety of insurance products to provide insurance cover from bullock carts to satellites.

    Marvel Insurance has been in the forefront of designing and implementing complex covers to large customers, as in cases of ONGC Ltd , GMR- Hyderabad International Airport Ltd, Mumbai International Airport Ltd Tirumala-Tirupati Devasthanam etc. We have been also the pioneer in taking Insurance to rural masses with large level implementation of Universal Health Insurance Programme of Government of India & Vijaya Raji Janani Kalyan Yojana ( covering 45 lakhs women in the state of Madhya Pradesh) , Tsunami Jan Bima Yojana (in 4 states covering 4.59 lakhs of families) , National Livestock Insurance and many such schemes.
    
    We have also made our presence in more than 1000 tier II & III towns and villages through our innovative Micro Offices.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-4 ">
    <div class="card">
      <img src="../../assets/images/male.jpg" alt="Jane" style="width:50%; ">
      <div class="container">
        <h2>Mr Amit</h2>
        <p class="title">CEO & Founder</p>
        <p>amit@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-4 ">
    <div class="card">
      <img src="../../assets/images/female.jpg" alt="Mike" style="width:50%;padding: 2px;">
      <div class="container">
        <h2>Ms Chaithra</h2>
        <p class="title">Art Director</p>
        <p>chaithra@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-4 ">
    <div class="card">
      <img src="../../assets/images/fe.png" alt="John" style="width:50%;padding: 15px">
      <div class="container">
        <h2>Ms Priyanka</h2>
        <p class="title">Designer</p>
        <p>priya@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>